{% extends 'base.html' %}

{% block menu %}
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="{% url 'products' %}">Товары</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="{% url 'add_product' %}">+добавить товары</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active text-light" aria-current="page" href="{% url 'add_category' %}">+добавить категории</a>
  </li>
{% endblock %}

{% block content %}
{% if products %}


<div class="row">
    {% for product in products %}
    <div class="col-md-12 col-xl-4">
        <div class="card p-5 m-3">
            <a href="{% url 'product_detail' product.pk %}"><h5 class="card-title">{{product.title}}</h5></a>
        <p>
            <img width="250" src="{{product.image}}" alt="no image">
        </p>
        <p class="card-text">
            {% for category in categories %}
            {% if category.id == product.category_id %}
            {{category}}
            {% endif %}
            {% endfor %}
        </p>
      <p class="card-text"><small class="text-muted">Цена: <strong>{{product.price}}</strong></small></p>
        <p><a href="{% url 'product_detail' product.pk %}"> Подробнее...</a></p>
        </div>
    </div>
    {% endfor %}
</div>


{% else %}
<h1>Вы не создали еще ни одной задачи!</h1>
<p><a href="add/">Добавить новую задачу</a></p>
{% endif %}




{% endblock %}